COMPOSE_PROJECT_NAME=liquidation-timescaledb
LIQUIDATION_TIMESCALE_HOST=127.0.0.1
LIQUIDATION_TIMESCALE_PORT=15433
POSTGRES_DB=liquidation
POSTGRES_USER=liquidation
POSTGRES_PASSWORD=liquidation
LIQUIDATION_TIMESCALE_IMAGE=timescale/timescaledb:2.17.2-pg16
