COMPOSE_PROJECT_NAME=liquidation-timescaledb
LIQUIDATION_TIMESCALE_HOST=127.0.0.1
LIQUIDATION_TIMESCALE_PORT=15433
LIQUIDATION_POSTGRES_DB=liquidation
LIQUIDATION_POSTGRES_USER=liquidation
LIQUIDATION_POSTGRES_PASSWORD=liquidation
LIQUIDATION_TIMESCALE_IMAGE=timescale/timescaledb:2.17.2-pg16
